<div id="footer-wrapper">
  <div class="container row">
    <div class="footer-widgets-wrap">
      <div
        class="footer common-widget section"
        id="footer-sec1"
        name="Section (Left)"
      >
        <div class="widget HTML" data-version="2" id="HTML3">
          <div class="widget-title">
            <h3 class="title">Random Posts</h3>
          </div>
          <div class="widget-content">
            <ul class="custom-widget">
              <li class="item-0">
                <a
                  class="post-image-link"
                  href="https://flatblog-templatesyard.blogspot.com/2016/03/10-foods-that-promote-weight-loss.html"
                  ><img
                    class="post-thumb lazy-yard"
                    alt=""
                    src="https://1.bp.blogspot.com/-6J0TUQwFrws/XojY8yRfDpI/AAAAAAAAIHo/Ukqmmh6liYUb6E6uirIrDmrymJhRk1K7gCNcBGAsYHQ/w80-h65-p-k-no-nu/7.webp"
                /></a>
                <h2 class="post-title">
                  <a
                    href="https://flatblog-templatesyard.blogspot.com/2016/03/10-foods-that-promote-weight-loss.html"
                    >10 Foods That Promote Weight Loss</a
                  >
                </h2>
                <div class="post-meta">
                  <span class="post-date">March 17, 2016</span>
                </div>
              </li>
              <li class="item-1">
                <a
                  class="post-image-link"
                  href="https://flatblog-templatesyard.blogspot.com/2016/03/10-essential-rules-of-good-health.html"
                  ><img
                    class="post-thumb lazy-yard"
                    alt=""
                    src="https://1.bp.blogspot.com/-CNmtIsaxjwU/XojY7B6_OwI/AAAAAAAAIHY/yNB6p8Ip9eQGwXYfAzQYGRZhfdHpwp3HgCEwYBhgLKs4DAMBZVoBYXZGR8sUbz8PIQ9oP09sV0G1PWEE-g_PrHhs4JZ1qDdGc6kWUkVutlw2yc3zIAbyKA7wYMdV7_Bc3yGLbNhw-f7O7_n7z4c0x5Xl87EEaiBRw-Vr4_wgNLOgh17J-IB1sWt2AdWEBfFw0nGS-iQHgIQww0qeIqu5rnc-jkwrEkXtyP7IWnq8nHsTN1MQW7dAMgYuH1Xjj8hVgOJbd5IHCCsPPFDr2vH9ZuYIn-CgiMo1ePhbFKpOenkeM5ryhubLECvu2cJLmSfWI2BwVFZXvRrC_EfkdAty_6exjEruZWkGDLOsamqdu1eF-ncLymtkU72uwoE43NpB-OCUhTHFLWCsDu6bizKTlBEFU3vaFgs_C_nhKD3S0hm1Z1tZT8Im4v9wbHYWCWzokepnbwh1nOSALkzIUTXoXVNm_7BoEIeFfYXUieIzpoyROSv1JiK8S92aSnxHr-nFHqtqhJcyZwDwjn-gURHGg83SLPBxzefOoDfFSqM2CyQ8DpxaIidxfKu3oMu1WR-1_Qulj0oHYyTb2zF2fk4qtT1tzvUrH32CC-6Fb99br8-GltIFP8XzELU27lpYXgbegLqVymeSFLnI5ODSzVPhdMNy2o_QF/w80-h65-p-k-no-nu/2.webp"
                /></a>
                <h2 class="post-title">
                  <a
                    href="https://flatblog-templatesyard.blogspot.com/2016/03/10-essential-rules-of-good-health.html"
                    >10 Essential Rules of Good Health</a
                  >
                </h2>
                <div class="post-meta">
                  <span class="post-date">March 17, 2016</span>
                </div>
              </li>
              <li class="item-2">
                <a
                  class="post-image-link"
                  href="https://flatblog-templatesyard.blogspot.com/2016/03/7-foods-for-healthy-hair.html"
                  ><img
                    class="post-thumb lazy-yard"
                    alt=""
                    src="https://1.bp.blogspot.com/-tE181d_K7gs/Vupfu_6tHnI/AAAAAAAADYE/OXF5cqzoXao890DJVCBdSeEMyCtdcKIjA/w80-h65-p-k-no-nu/girl-984155_960_720.jpg"
                /></a>
                <h2 class="post-title">
                  <a
                    href="https://flatblog-templatesyard.blogspot.com/2016/03/7-foods-for-healthy-hair.html"
                    >7 Foods for Healthy Hair</a
                  >
                </h2>
                <div class="post-meta">
                  <span class="post-date">March 17, 2016</span>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div
        class="footer common-widget section"
        id="footer-sec2"
        name="Section (Center)"
      >
        <div class="widget HTML" data-version="2" id="HTML4">
          <div class="widget-title">
            <h3 class="title">Recent in Sports</h3>
          </div>
          <div class="widget-content">
            <ul class="custom-widget">
              <li class="item-0">
                <a
                  class="post-image-link"
                  href="https://flatblog-templatesyard.blogspot.com/2016/03/girl-looking-at-mountains-in-her-green.html"
                  ><img
                    class="post-thumb lazy-yard"
                    alt=""
                    src="https://1.bp.blogspot.com/-JimZDFhdozw/VupVELDw14I/AAAAAAAADWI/CqDCQKZbTAseFWJg_UgsScbdSGH7QjEcg/w80-h65-p-k-no-nu/kayaking-918464_960_720.jpg"
                /></a>
                <h2 class="post-title">
                  <a
                    href="https://flatblog-templatesyard.blogspot.com/2016/03/girl-looking-at-mountains-in-her-green.html"
                    >Girl looking at the mountains in her green kayak</a
                  >
                </h2>
                <div class="post-meta">
                  <span class="post-date">March 17, 2016</span>
                </div>
              </li>
              <li class="item-1">
                <a
                  class="post-image-link"
                  href="https://flatblog-templatesyard.blogspot.com/2016/03/man-climbing-sloping-mountain.html"
                  ><img
                    class="post-thumb lazy-yard"
                    alt=""
                    src="https://4.bp.blogspot.com/-GpvEjj-56Jk/VupW1hQ9COI/AAAAAAAADWc/Z6ULsbZRkDU9Xyd20-pwX1rPzbxaOut4g/w80-h65-p-k-no-nu/climber-984380_960_720.jpg"
                /></a>
                <h2 class="post-title">
                  <a
                    href="https://flatblog-templatesyard.blogspot.com/2016/03/man-climbing-sloping-mountain.html"
                    >Man climbing sloping mountain</a
                  >
                </h2>
                <div class="post-meta">
                  <span class="post-date">March 17, 2016</span>
                </div>
              </li>
              <li class="item-2">
                <a
                  class="post-image-link"
                  href="https://flatblog-templatesyard.blogspot.com/2016/03/baseball-player-running-game-field.html"
                  ><img
                    class="post-thumb lazy-yard"
                    alt=""
                    src="https://1.bp.blogspot.com/-O35ksn594-g/VupVD9H1jvI/AAAAAAAADWE/9OrQ_aiJ3EUp3bWfpbiSHgomAEnWyeRdA/w80-h65-p-k-no-nu/baseball-1149955_960_720.jpg"
                /></a>
                <h2 class="post-title">
                  <a
                    href="https://flatblog-templatesyard.blogspot.com/2016/03/baseball-player-running-game-field.html"
                    >Baseball player running the game field</a
                  >
                </h2>
                <div class="post-meta">
                  <span class="post-date">March 17, 2016</span>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div
        class="footer common-widget section"
        id="footer-sec3"
        name="Section (Right)"
      >
        <div class="widget PopularPosts" data-version="2" id="PopularPosts2">
          <div class="widget-title">
            <h3 class="title">Popular Posts</h3>
          </div>
          <div class="widget-content">
            <div class="post">
              <div class="post-content">
                <a
                  class="post-image-link"
                  href="https://flatblog-templatesyard.blogspot.com/2016/03/7-foods-for-healthy-hair.html"
                >
                  <img
                    alt="7 Foods for Healthy Hair"
                    class="post-thumb lazy-yard"
                    src="https://1.bp.blogspot.com/-tE181d_K7gs/Vupfu_6tHnI/AAAAAAAADYE/OXF5cqzoXao890DJVCBdSeEMyCtdcKIjA/w80-h65-p-k-no-nu/girl-984155_960_720.jpg"
                  />
                </a>
                <div class="post-info">
                  <h2 class="post-title">
                    <a
                      href="https://flatblog-templatesyard.blogspot.com/2016/03/7-foods-for-healthy-hair.html"
                      >7 Foods for Healthy Hair</a
                    >
                  </h2>
                  <div class="post-meta">
                    <span
                      class="post-date published"
                      datetime="2016-03-17T00:53:00-07:00"
                      >March 17, 2016</span
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="post">
              <div class="post-content">
                <a
                  class="post-image-link"
                  href="https://flatblog-templatesyard.blogspot.com/2016/08/8-yoga-poses-you-can-do-in-your-desk.html"
                >
                  <img
                    alt="8 Yoga Poses You Can Do in Your Desk Chair"
                    class="post-thumb lazy-yard"
                    src="https://1.bp.blogspot.com/-K06Fbl-JAz8/XojYpTCCKGI/AAAAAAAAIGo/rHa7CHRz69UmjIBmT1sXCHQy0DUAIvgBACNcBGAsYHQ/w80-h65-p-k-no-nu/1.webp"
                  />
                </a>
                <div class="post-info">
                  <h2 class="post-title">
                    <a
                      href="https://flatblog-templatesyard.blogspot.com/2016/08/8-yoga-poses-you-can-do-in-your-desk.html"
                      >8 Yoga Poses You Can Do in Your Desk Chair</a
                    >
                  </h2>
                  <div class="post-meta">
                    <span
                      class="post-date published"
                      datetime="2016-08-23T15:00:00-07:00"
                      >August 23, 2016</span
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="post">
              <div class="post-content">
                <a
                  class="post-image-link"
                  href="https://flatblog-templatesyard.blogspot.com/2016/03/10-foods-that-promote-weight-loss.html"
                >
                  <img
                    alt="10 Foods That Promote Weight Loss"
                    class="post-thumb lazy-yard"
                    src="https://1.bp.blogspot.com/-6J0TUQwFrws/XojY8yRfDpI/AAAAAAAAIHo/Ukqmmh6liYUb6E6uirIrDmrymJhRk1K7gCNcBGAsYHQ/w80-h65-p-k-no-nu/7.webp"
                  />
                </a>
                <div class="post-info">
                  <h2 class="post-title">
                    <a
                      href="https://flatblog-templatesyard.blogspot.com/2016/03/10-foods-that-promote-weight-loss.html"
                      >10 Foods That Promote Weight Loss</a
                    >
                  </h2>
                  <div class="post-meta">
                    <span
                      class="post-date published"
                      datetime="2016-03-17T00:59:00-07:00"
                      >March 17, 2016</span
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <div id="sub-footer-wrapper">
    <div class="container row">
      <div class="menu-footer section" id="menu-footer" name="Menu Footer">
        <div class="widget LinkList" data-version="2" id="LinkList76">
          <div class="widget-title">
            <h3 class="title">Menu Footer Widget</h3>
          </div>
          <div class="widget-content">
            <ul>
              <li><a href="/">Home</a></li>
              <li>
                <a
                  href="https://flatblog-templatesyard.blogspot.com/p/about.html"
                  >About</a
                >
              </li>
              <li>
                <a
                  href="https://flatblog-templatesyard.blogspot.com/p/contact-us.html"
                  >Contact Us</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="copyright-area">
        Copyright
        <!-- <i
          aria-hidden="true"
          class="fa fa-heart"
          style="color: red; margin: 0 2px"
        ></i> -->
        @
        <a
          href="https://www.templatesyard.com/"
          id="mycontent"
          rel="dofollow"
          title="Blogspot"
          style="
            display: inline-block !important;
            font-size: inherit !important;
            color: #0be6af !important;
            visibility: visible !important;
            z-index: 99 !important;
            opacity: 1 !important;
            position: relative !important;
          "
          >Manugowda.com</a
        >
      </div>
    </div>
  </div>
</div>
