<head>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8432158318839569"
     crossorigin="anonymous"></script>
</head>
<app-navbar></app-navbar>

<h1 style="text-align: center">Contact Us</h1>

<div class="container">
  <form action="/action_page.php">
    <label for="fname">First Name</label>
    <input type="text" id="fname" name="firstname" placeholder="Your name.." />

    <label for="lname">Last Name</label>
    <input
      type="text"
      id="lname"
      name="lastname"
      placeholder="Your last name.."
    />

    <label for="country">Country</label>
    <select id="country" name="country">
      <option value="australia">Australia</option>
      <option value="canada">Canada</option>
      <option value="usa">USA</option>
    </select>

    <label for="subject">Subject</label>
    <textarea
      id="subject"
      name="subject"
      placeholder="Write something.."
      style="height: 200px"
    ></textarea>

    <input type="submit" value="Submit" />
  </form>
</div>
<app-footer></app-footer>
