<app-navbar></app-navbar>
<div class="about-section">
  <h1>About Us</h1>
  <div>
    <p>
      Manugowda.com is a website which give information regarding news, blogs,
      lyrics etc.,
    </p>
    <p>
      as of now we are deployed blogs site, i futur we will deploy other sites
    </p>

    <h3>
      We work hard to keep our website optimized and make user-friendly. We keep
      adding all the new blogs.
    </h3>
    <h3>If you didn’t find any blogs you wanted, you contact us.</h3>
  </div>
</div>
<app-footer></app-footer>
