<head>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8432158318839569"
     crossorigin="anonymous"></script>
</head>
<div class="row" id="featured-wrapper">
  <div
    class="featured-posts section"
    id="featured-posts-1"
    name="Featured Posts 03"
  >
    <div class="widget HTML show-widget" data-version="2" id="HTML11">
      <div class="widget-title">
        <h3 class="title">Music</h3>
        <a class="view-all" href="/search/label/Music?&amp;max-results=5"
          >View all</a
        >
      </div>
      <div class="widget-content">
        <ul class="grid-big">
          <li *ngFor="let item of musicCard; let i=index" [class]="'feat-item item-big item-'+(i)">
            <div class="feat-inner">
              <a
                class="post-image-link"
                [href]="item.url"
                ><img
                  class="post-thumb lazy-yard"
                  alt=""
                  [src]="item.imageUrl" /></a
              ><span class="post-tag">Fashion</span>
              <div class="post-info">
                <h2 class="post-title">
                  <a
                    [href]="item.url"
                    >{{item.title}}</a
                  >
                </h2>
                <div class="post-meta">
                  <span class="post-author">{{item.author}} </span
                  ><span class="post-date">{{item.publishedAt}}</span>
                </div>
               
              </div>
            </div>
          </li>
         </ul>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
