<div class="row" id="featured-wrapper">
  <div
    class="featured-posts section"
    id="featured-posts-1"
    name="Featured Posts 03"
  >
    <div class="widget HTML show-widget" data-version="2" id="HTML11">
      <div class="widget-title">
        <h3 class="title">Music</h3>
        <a class="view-all" href="/search/label/Music?&amp;max-results=5"
          >View all</a
        >
      </div>
      <div class="widget-content">
        <ul class="grid-big">
          <li class="feat-item item-big item-0">
            <div class="feat-inner">
              <a
                class="post-image-link"
                href="https://flatblog-templatesyard.blogspot.com/2016/03/12-classic-pilates-moves.html"
                ><img
                  class="post-thumb lazy-yard"
                  alt=""
                  src="https://1.bp.blogspot.com/-BiecoByKxMo/XojY7RHKltI/AAAAAAAAIHc/pqvhkHbv9kIiqTeAJ8tDwmmOn6WxeaUzQCEwYBhgLKs4DAMBZVoAd2u7cpU7GvRwnMRCHGkKokDCLna5kBqvhrewwdv3i1JHc4nXP-dsaHnrnGfYHwO5LQ2NSJoEtQFX-J63vHDy5novlrEKvqZNbncN_GDVLfgFZVFNWCKL3rdFNwySJHrdTLLtQGToLlzySpOpDKp6g4HakVYDeFFyTocmeaiv5QFz2qrcuWTq6cZcV6AA4iA7XksQJgiTIB0XzzOb2PS-lHj2_o8wWeqVZGAs60HGL9QWQNsHjfbBBDNZZ1jJN-rFgv4-eriQBNzPWgAlXMDROl_Nq_EScwlW9PQoYL2lVYy5aSA1DxGUIe0qKGi53ahwlhHXo6GKAxUqxRwR0eUA1VNES4BuJtDacqqJJhMfqLIAGMN1Ma3o0r1PQuzYpjYWCaa9pF8sZEwy1sXuquHak8zZuSR-PL8IrQ0sePT_8MVPpnxCkgeYHVV_3DnHDVw4tmGjaJqJc_ClVcvWcbsfC3JuUtuB5ADONUc6Wg7xHuLiOe_LnisJsf1LIswYySGZyIGakQzZB-sW5zR2wCbyV0AKzEkA3lz9shSNF5UfHd3iiRVs1snGS_nOn-T0rtWCd-Gf2z8uXR2ACu3hOJPUBRIrIsv6hY2muMPy2o_QF/w233-h180-p-k-no-nu/4.webp" /></a
              ><span class="post-tag">Fashion</span>
              <div class="post-info">
                <h2 class="post-title">
                  <a
                    href="https://flatblog-templatesyard.blogspot.com/2016/03/12-classic-pilates-moves.html"
                    >12 Classic Pilates Moves</a
                  >
                </h2>
                <div class="post-meta">
                  <span class="post-author">Sora Blogging Tips </span
                  ><span class="post-date">March 17, 2016</span>
                </div>
                <p class="post-snippet">
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsu…
                </p>
              </div>
            </div>
          </li>
          <li class="feat-item item-big item-1">
            <div class="feat-inner">
              <a
                class="post-image-link"
                href="https://flatblog-templatesyard.blogspot.com/2016/03/beautiful-girl-sitting-playing-acoustic.html"
                ><img
                  class="post-thumb lazy-yard"
                  alt=""
                  src="https://2.bp.blogspot.com/-vlEsQFjiSKk/VupYFIU67qI/AAAAAAAADWs/AJbQSsLgu0cAGn1mbyFzTrXnExTodbCAQ/w233-h180-p-k-no-nu/guitar-1139397_960_720.jpg" /></a
              ><span class="post-tag">Music</span>
              <div class="post-info">
                <h2 class="post-title">
                  <a
                    href="https://flatblog-templatesyard.blogspot.com/2016/03/beautiful-girl-sitting-playing-acoustic.html"
                    >Beautiful girl sitting playing acoustic guitar</a
                  >
                </h2>
                <div class="post-meta">
                  <span class="post-author">Sora Blogging Tips </span
                  ><span class="post-date">March 17, 2016</span>
                </div>
                <p class="post-snippet">
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsu…
                </p>
              </div>
            </div>
          </li>
          <li class="feat-item item-big item-2">
            <div class="feat-inner">
              <a
                class="post-image-link"
                href="https://flatblog-templatesyard.blogspot.com/2016/03/cool-smartphone-with-open-music.html"
                ><img
                  class="post-thumb lazy-yard"
                  alt=""
                  src="https://4.bp.blogspot.com/-dbwt9XYkbGE/VupYCl4Nw4I/AAAAAAAADWo/X8uDXgRC7SMSlYPD3vH12zbQawes3ZWFQ/w233-h180-p-k-no-nu/ipad-605439_960_720.jpg" /></a
              ><span class="post-tag">Music</span>
              <div class="post-info">
                <h2 class="post-title">
                  <a
                    href="https://flatblog-templatesyard.blogspot.com/2016/03/cool-smartphone-with-open-music.html"
                    >Cool smartphone with open music application</a
                  >
                </h2>
                <div class="post-meta">
                  <span class="post-author">Sora Blogging Tips </span
                  ><span class="post-date">March 17, 2016</span>
                </div>
                <p class="post-snippet">
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsu…
                </p>
              </div>
            </div>
          </li>
          <li class="feat-item item-big item-3">
            <div class="feat-inner">
              <a
                class="post-image-link"
                href="https://flatblog-templatesyard.blogspot.com/2016/03/elegant-man-playing-guitar.html"
                ><img
                  class="post-thumb lazy-yard"
                  alt=""
                  src="https://2.bp.blogspot.com/-sqrwp6jBxRI/VupYJhEG2jI/AAAAAAAADWw/1zVduOOZXmU4shfXniHjyrepDFTsV6Z-g/w233-h180-p-k-no-nu/guitarist-768532_960_720.jpg.png" /></a
              ><span class="post-tag">Music</span>
              <div class="post-info">
                <h2 class="post-title">
                  <a
                    href="https://flatblog-templatesyard.blogspot.com/2016/03/elegant-man-playing-guitar.html"
                    >Elegant man playing the guitar</a
                  >
                </h2>
                <div class="post-meta">
                  <span class="post-author">Sora Blogging Tips </span
                  ><span class="post-date">March 17, 2016</span>
                </div>
                <p class="post-snippet">
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsu…
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
