<div class="row" id="hot-wrapper">
  <div class="section" id="hot-section" name="Hot Posts">
    <div class="widget HTML show-hot" data-version="2" id="HTML2">
      <div class="widget-title">
        <h3 class="title">Hot Widget</h3>
      </div>
      <div class="widget-content">
        <ul class="hot-posts">
          <li class="hot-item item-0">
            <div class="hot-item-inner">
              <a
                class="post-image-link"
                href="https://flatblog-templatesyard.blogspot.com/2016/03/10-essential-rules-of-good-health.html"
                ><img
                  class="post-thumb lazy-yard"
                  alt=""
                  src="https://1.bp.blogspot.com/-CNmtIsaxjwU/XojY7B6_OwI/AAAAAAAAIHY/yNB6p8Ip9eQGwXYfAzQYGRZhfdHpwp3HgCEwYBhgLKs4DAMBZVoBYXZGR8sUbz8PIQ9oP09sV0G1PWEE-g_PrHhs4JZ1qDdGc6kWUkVutlw2yc3zIAbyKA7wYMdV7_Bc3yGLbNhw-f7O7_n7z4c0x5Xl87EEaiBRw-Vr4_wgNLOgh17J-IB1sWt2AdWEBfFw0nGS-iQHgIQww0qeIqu5rnc-jkwrEkXtyP7IWnq8nHsTN1MQW7dAMgYuH1Xjj8hVgOJbd5IHCCsPPFDr2vH9ZuYIn-CgiMo1ePhbFKpOenkeM5ryhubLECvu2cJLmSfWI2BwVFZXvRrC_EfkdAty_6exjEruZWkGDLOsamqdu1eF-ncLymtkU72uwoE43NpB-OCUhTHFLWCsDu6bizKTlBEFU3vaFgs_C_nhKD3S0hm1Z1tZT8Im4v9wbHYWCWzokepnbwh1nOSALkzIUTXoXVNm_7BoEIeFfYXUieIzpoyROSv1JiK8S92aSnxHr-nFHqtqhJcyZwDwjn-gURHGg83SLPBxzefOoDfFSqM2CyQ8DpxaIidxfKu3oMu1WR-1_Qulj0oHYyTb2zF2fk4qtT1tzvUrH32CC-6Fb99br8-GltIFP8XzELU27lpYXgbegLqVymeSFLnI5ODSzVPhdMNy2o_QF/w392-h380-p-k-no-nu/2.webp"
              /></a>
              <div class="post-info">
                <span class="post-tag">Healthy</span>
                <h2 class="post-title">
                  <a
                    href="https://flatblog-templatesyard.blogspot.com/2016/03/10-essential-rules-of-good-health.html"
                    >10 Essential Rules of Good Health</a
                  >
                </h2>
                <div class="post-meta">
                  <span class="post-author">Sora Blogging Tips </span
                  ><span class="post-date">March 17, 2016</span>
                </div>
              </div>
            </div>
          </li>
          <li class="hot-item item-1">
            <div class="hot-item-inner">
              <a
                class="post-image-link"
                href="https://flatblog-templatesyard.blogspot.com/2016/03/7-foods-for-healthy-hair.html"
                ><img
                  class="post-thumb lazy-yard"
                  alt=""
                  src="https://1.bp.blogspot.com/-tE181d_K7gs/Vupfu_6tHnI/AAAAAAAADYE/OXF5cqzoXao890DJVCBdSeEMyCtdcKIjA/w299-h185-p-k-no-nu/girl-984155_960_720.jpg"
              /></a>
              <div class="post-info">
                <span class="post-tag">Business</span>
                <h2 class="post-title">
                  <a
                    href="https://flatblog-templatesyard.blogspot.com/2016/03/7-foods-for-healthy-hair.html"
                    >7 Foods for Healthy Hair</a
                  >
                </h2>
                <div class="post-meta">
                  <span class="post-date">March 17, 2016</span>
                </div>
              </div>
            </div>
          </li>
          <li class="hot-item item-2">
            <div class="hot-item-inner">
              <a
                class="post-image-link"
                href="https://flatblog-templatesyard.blogspot.com/2016/03/12-classic-pilates-moves.html"
                ><img
                  class="post-thumb lazy-yard"
                  alt=""
                  src="https://1.bp.blogspot.com/-BiecoByKxMo/XojY7RHKltI/AAAAAAAAIHc/pqvhkHbv9kIiqTeAJ8tDwmmOn6WxeaUzQCEwYBhgLKs4DAMBZVoAd2u7cpU7GvRwnMRCHGkKokDCLna5kBqvhrewwdv3i1JHc4nXP-dsaHnrnGfYHwO5LQ2NSJoEtQFX-J63vHDy5novlrEKvqZNbncN_GDVLfgFZVFNWCKL3rdFNwySJHrdTLLtQGToLlzySpOpDKp6g4HakVYDeFFyTocmeaiv5QFz2qrcuWTq6cZcV6AA4iA7XksQJgiTIB0XzzOb2PS-lHj2_o8wWeqVZGAs60HGL9QWQNsHjfbBBDNZZ1jJN-rFgv4-eriQBNzPWgAlXMDROl_Nq_EScwlW9PQoYL2lVYy5aSA1DxGUIe0qKGi53ahwlhHXo6GKAxUqxRwR0eUA1VNES4BuJtDacqqJJhMfqLIAGMN1Ma3o0r1PQuzYpjYWCaa9pF8sZEwy1sXuquHak8zZuSR-PL8IrQ0sePT_8MVPpnxCkgeYHVV_3DnHDVw4tmGjaJqJc_ClVcvWcbsfC3JuUtuB5ADONUc6Wg7xHuLiOe_LnisJsf1LIswYySGZyIGakQzZB-sW5zR2wCbyV0AKzEkA3lz9shSNF5UfHd3iiRVs1snGS_nOn-T0rtWCd-Gf2z8uXR2ACu3hOJPUBRIrIsv6hY2muMPy2o_QF/w299-h185-p-k-no-nu/4.webp"
              /></a>
              <div class="post-info">
                <span class="post-tag">Fashion</span>
                <h2 class="post-title">
                  <a
                    href="https://flatblog-templatesyard.blogspot.com/2016/03/12-classic-pilates-moves.html"
                    >12 Classic Pilates Moves</a
                  >
                </h2>
                <div class="post-meta">
                  <span class="post-date">March 17, 2016</span>
                </div>
              </div>
            </div>
          </li>
          <li class="hot-item item-3">
            <div class="hot-item-inner">
              <a
                class="post-image-link"
                href="https://flatblog-templatesyard.blogspot.com/2016/03/8-steps-to-eat-better.html"
                ><img
                  class="post-thumb lazy-yard"
                  alt=""
                  src="https://1.bp.blogspot.com/-rSeijZGf60I/XojY8Z7o42I/AAAAAAAAIHs/rj8e6Jk9Io4_CHyMDpMiCtdtP-OJKqqpACEwYBhgLKs4DAMBZVoB-xYI26ZrsfRPjsTGFaDlNIsr5bZSrMdRpticIpD1ZV2rFAYkSPMWh79jhiAdY4VHAFHdqafkccn8i8RNRQYrNajMEzujAz2GvCUmH1FVOsAO4pkkwOj0BFsF5p5UVhaSSWfBNOI1M9LOQWxx1jEFEkx6ael7T_v40_UQetZgrZmqaeC7PZdfhcl0pMzOfC7yzWj7CyMI9LA55WzrkP439oL41UV_sToe4i1y-s7NgwsZC_SFZQa3F8UI6zi3PAS9jnED-vN3CHKjYkNP4bLEWDdIJ0Eb38wdlrbDamF4rIcKP2a5TUPlfYjHr_RFecD44qNkIt7APwOmk3qWbbtq9NhHPVFoNwBNtF3Xt-avnqRrNItIl6KhHg3p9u1CLmaFHjfi9GPZTSAfFGhTL6j1mTFdIFiaceiNXxR37edE0Ta2I046sJHH8fDl1DLIEhfdrblWMUW09U6ia7lhMrZIDqv4-gsh3IziOM5y7DAwnkdptbq1qSII0dGni7nlvFav3cPgCEw1dYvAsQ_AkD5Geijz-z6Ed78QyW69ljNcFdDWxG7nlN2lVeNA7NUFVJ5DacHZWqWIdOLKbGtVPX1yF1cBfu5FNixCFMJK3o_QF/w299-h185-p-k-no-nu/5.webp"
              /></a>
              <div class="post-info">
                <span class="post-tag">Featured</span>
                <h2 class="post-title">
                  <a
                    href="https://flatblog-templatesyard.blogspot.com/2016/03/8-steps-to-eat-better.html"
                    >8 Steps to Eat Better</a
                  >
                </h2>
                <div class="post-meta">
                  <span class="post-date">March 17, 2016</span>
                </div>
              </div>
            </div>
          </li>
          <li class="hot-item item-4">
            <div class="hot-item-inner">
              <a
                class="post-image-link"
                href="https://flatblog-templatesyard.blogspot.com/2016/03/working-out-with-your-baby.html"
                ><img
                  class="post-thumb lazy-yard"
                  alt=""
                  src="https://1.bp.blogspot.com/-DjCo_-Ir_bk/XojY88pYe-I/AAAAAAAAIHw/Nm42hHoPccQ2BWKuWQ8IwdNgq_TijrPowCEwYBhgLKs4DAMBZVoDQ1-roSHhb9mH5RKj1xyXs5ZIk-KPdD1RWA3M22H1OukmNntMymkKRPoGCUuC03dfs8ivWNzpYxiQuBH7vEd4tJxjM5DBm4xEKIQKAhK1XeXC__BNY18nSu8tXj1ov3cFeaEls4oz_hAcR-I1RJm_fOQvnNpnm0hH0SVSyl_pTjP2eQFMrXCVTllL83C8L-06pNe8LY_xAMjXC-lOXQYsJTv9aRiP5-wyAOkYLQBoZ8h4p7flnrKe_lBEg_sK55nN4eBfUX0eEkCogsmYQmo50Nj7BQ77pQb_dLIrmXpKnbg2h3Y3O4wTcp5oh63hgB3n-2b0pCD65dpzv4wRX4QJpP0SZIFScUNyMKHwO1Qfqj2Ph9o3jEJi7ID5qx0uULZRmevJMUb2447VDVCx8EBbOHAcv2ESB4qj8_IGkPNdlsJW10YrWZ0dY-0JHjDhbU0dHjnlBqDe0shFX7bmZ5kln69Xr-TnkCzsZMcWHCciEu-sZvIeo_ogV3Rpyb1f4Y4n_oY86-7R-l8S-dtbQy1gEVkmyJQux0yM937UepsOl8tAEQm2vi9GUwvlX6djpb4O7iFI69FgumWXAtjbdr8sU_l0zQIu3fsnsMKO3o_QF/w299-h185-p-k-no-nu/6.webp"
              /></a>
              <div class="post-info">
                <span class="post-tag">Fashion</span>
                <h2 class="post-title">
                  <a
                    href="https://flatblog-templatesyard.blogspot.com/2016/03/working-out-with-your-baby.html"
                    >Working Out with Your Baby</a
                  >
                </h2>
                <div class="post-meta">
                  <span class="post-date">March 17, 2016</span>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
