<head>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8432158318839569"
     crossorigin="anonymous"></script>
</head>
<div class="row" id="hot-wrapper">
  <div class="section" id="hot-section" name="Hot Posts">
    <div class="widget HTML show-hot" data-version="2" id="HTML2">
      <div class="widget-title">
        <h3 class="title">Hot Widget</h3>
      </div>
      <div class="widget-content">
        <ul class="hot-posts">
          <li class="hot-item item-0">
            <div class="hot-item-inner">
              <a
                class="post-image-link"
                [href]='newsList[4].url'
                ><img
                  class="post-thumb lazy-yard"
                  alt=""
                  [src]='newsList[4].imageUrl'
              /></a>
              <div class="post-info">
                <span class="post-tag">Healthy</span>
                <h2 class="post-title">
                  <a [href]='newsList[4].url'
                    >{{newsList[4].title}}</a
                  >
                </h2>
                <div class="post-meta">
                  <span class="post-author">{{newsList[4].author}} </span
                  ><span class="post-date">{{newsList[4].publishedAt}}</span>
                </div>
              </div>
            </div>
          </li>
          <li class="hot-item item-1" *ngFor="let item of newsList; let i=index;">
            <div class="hot-item-inner">
              <a
                class="post-image-link"
                [href]='item.url'
                ><img
                  class="post-thumb lazy-yard"
                  alt=""
                  [src]='item.imageUrl'
              /></a>
              <div class="post-info">
                <span class="post-tag">Business</span>
                <h2 class="post-title">
                  <a
                    [href]='item.url'
                    >{{item.title}}</a
                  >
                </h2>
                <div class="post-meta">
                  <span class="post-date">{{item.publishedAt}}</span>
                </div>
              </div>
            </div>
          </li>
         </ul>
      </div>
    </div>
  </div>
</div>
