<head>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8432158318839569"
     crossorigin="anonymous"></script>
</head>
<div class="row" id="content-wrapper" style="transform: none">
  <div class="container" style="transform: none">
    <!-- Main Wrapper -->
    <div
      id="main-wrapper"
      style="
        position: relative;
        overflow: visible;
        box-sizing: border-box;
        min-height: 1px;
      "
    >
      <div
        class="theiaStickySidebar"
        style="
          padding-top: 0px;
          padding-bottom: 1px;
          position: static;
          transform: none;
        "
      >
        <div
          class="featured-posts section"
          id="featured-posts-2"
          name="Featured Posts 01"
        >
          <div class="widget HTML show-widget" data-version="2" id="HTML5">
            <div class="widget-title">
              <h3 class="title">Business</h3>
              <a
                class="view-all"
                href="/search/label/Business?&amp;max-results=5"
                >View all</a
              >
            </div>
            <div class="widget-content">
              <ul class="feat-big">
                <li class="feat-item item-big item-0">
                  <div class="feat-inner">
                    <a
                      class="post-image-link"
                      [href]='businessCard[0].url'
                      ><img
                        class="post-thumb lazy-yard"
                        alt=""
                        [src]='businessCard[0].imageUrl' /></a
                    ><span class="post-tag">Business</span>
                    <div class="post-info">
                      <h2 class="post-title">
                        <a
                        [href]='businessCard[0].url'
                          >{{businessCard[0].title}}</a
                        >
                      </h2>
                      <div class="post-meta">
                        <span class="post-author">{{businessCard[0].author}} </span
                        ><span class="post-date">{{businessCard[0].publishedAt}}</span>
                      </div>
                    </div>
                  </div>
                </li>
                <li *ngFor="let item of businessCard | slice:1; let i=index" [class]="'feat-item item-small item-'+(i + 1)">
                  <a
                    class="post-image-link"
                    [href]="item.url"
                    ><img
                      class="post-thumb lazy-yard"
                      alt=""
                      [src]="item.imageUrl"
                  /></a>
                  <div class="post-info">
                    <h2 class="post-title">
                      <a
                        [href]="item.url"
                        >{{item.title}}</a
                      >
                    </h2>
                    <div class="post-meta">
                      <span class="post-date">{{item.publishedAt}}</span>
                    </div>
                  </div>
                </li>
               </ul>
            </div>
          </div>
          <!-- <div class="widget HTML show-slider" data-version="2" id="HTML71">
            <div class="widget-title">
              <h3 class="title">Slider</h3>
            </div>
            <div class="widget-content">
              <ul
                class="
                  main-slider
                  owl-carousel owl-theme owl-loaded owl-text-select-on
                "
              >
                <div class="owl-stage-outer">
                  <div
                    class="owl-stage"
                    style="
                      transform: translate3d(-4020px, 0px, 0px);
                      transition: all 0s ease 0s;
                      width: 6030px;
                    "
                  >
                    <div
                      class="owl-item cloned"
                      style="width: 670px; margin-right: 0px"
                    >
                      <li class="slider-item item-4">
                        <div class="slider-item-inner">
                          <a
                            class="post-image-link"
                            href="https://flatblog-templatesyard.blogspot.com/2016/03/girl-play-with-fireworks-in-nature.html"
                            ><img
                              class="post-thumb lazy-yard"
                              alt=""
                              src="https://1.bp.blogspot.com/-nMvyQ2AGqTI/XojY7HsARKI/AAAAAAAAIHU/3QFZiF8bKZMHSAQtxx_wllA2xZp9v1V6ACEwYBhgLKs4DAMBZVoAPfCy1WneXAglA4IpZTLm_RyMGhDts_pC7dXql-cp56NgJyLGbSvlqPYZMO218AFRMQ0UQMba5R3pud6zZVpC-4O4_zmLlRcmQ-UqGN1r6d8IgfYjbu4zSc9VBsNHx7iWHSevBSE66ZT5QDafikoeblIWnrQtSIXSoxihxkwWi4xX5IX1qeU5utjyM4YSx7CvkP4IVVGDweUt7s_ZQZNyhV2ZY02qkLMNyP2WXKyP1B-FtT549R9ysbaFeo9C1lzhCwNubt98s5tdmPX4foefOzHQVIDyEEz5Guk1XpDk28N4ac6Gjq5gDXdICBqTx67ZtocnZ8ooxfxhMprHpmFyoSBzcd8KbfvacK5ftl5HvZ4MmRkkb8KaW8_PDvzn8cRS69FO-da4oPu3GVNtnb-bQ3F3HFOeTsj7KGRX-E7Xg_ILgxfN18SGLh2ans3uRlXbtAKCV7sUoDu_L93UlWD1utRRon1HJUd72u3uF9wpPuzFZXcy0YXzViwpvly1GUN0HYrjhTCQDmo-N_ySam-KlfOKjuRAMtLzTmRKfd99mD1Itq-icgSy8erzSq5jp7ZnJflIuJMNqWiIKq5FE0Rr2RwuSQxIripy2MOy2o_QF/w670-h430-p-k-no-nu/3.webp"
                          /></a>
                          <div class="post-info-wrap">
                            <div class="post-info">
                              <span class="post-tag">Fashion</span>
                              <h2 class="post-title">
                                <a
                                  href="https://flatblog-templatesyard.blogspot.com/2016/03/girl-play-with-fireworks-in-nature.html"
                                  >Girl play with fireworks in nature</a
                                >
                              </h2>
                              <div class="post-meta">
                                <span class="post-date">March 17, 2016</span>
                              </div>
                              <p class="post-snippet">
                                Lorem Ipsum is simply dummy text of the printing
                                and typesetting industry. Lorem Ipsu…
                              </p>
                            </div>
                          </div>
                        </div>
                      </li>
                    </div>
                    <div
                      class="owl-item cloned"
                      style="width: 670px; margin-right: 0px"
                    >
                      <li class="slider-item item-5">
                        <div class="slider-item-inner">
                          <a
                            class="post-image-link"
                            href="https://flatblog-templatesyard.blogspot.com/2016/03/cool-vintage-photograph.html"
                            ><img
                              class="post-thumb lazy-yard"
                              alt=""
                              src="https://4.bp.blogspot.com/-GkUyTOGonKQ/Vupe8svLNsI/AAAAAAAADX0/tqWMHfiRudY_V82YeEE7yq86apVldYnZA/w670-h430-p-k-no-nu/photographer-1150052_960_720.jpg"
                          /></a>
                          <div class="post-info-wrap">
                            <div class="post-info">
                              <span class="post-tag">Fashion</span>
                              <h2 class="post-title">
                                <a
                                  href="https://flatblog-templatesyard.blogspot.com/2016/03/cool-vintage-photograph.html"
                                  >Cool vintage photograph</a
                                >
                              </h2>
                              <div class="post-meta">
                                <span class="post-date">March 17, 2016</span>
                              </div>
                              <p class="post-snippet">
                                Lorem Ipsum is simply dummy text of the printing
                                and typesetting industry. Lorem Ipsu…
                              </p>
                            </div>
                          </div>
                        </div>
                      </li>
                    </div>
                    <div
                      class="owl-item"
                      style="width: 670px; margin-right: 0px"
                    >
                      <li class="slider-item item-1">
                        <div class="slider-item-inner">
                          <a
                            class="post-image-link"
                            href="https://flatblog-templatesyard.blogspot.com/2016/03/12-classic-pilates-moves.html"
                            ><img
                              class="post-thumb lazy-yard"
                              alt=""
                              src="https://1.bp.blogspot.com/-BiecoByKxMo/XojY7RHKltI/AAAAAAAAIHc/pqvhkHbv9kIiqTeAJ8tDwmmOn6WxeaUzQCEwYBhgLKs4DAMBZVoAd2u7cpU7GvRwnMRCHGkKokDCLna5kBqvhrewwdv3i1JHc4nXP-dsaHnrnGfYHwO5LQ2NSJoEtQFX-J63vHDy5novlrEKvqZNbncN_GDVLfgFZVFNWCKL3rdFNwySJHrdTLLtQGToLlzySpOpDKp6g4HakVYDeFFyTocmeaiv5QFz2qrcuWTq6cZcV6AA4iA7XksQJgiTIB0XzzOb2PS-lHj2_o8wWeqVZGAs60HGL9QWQNsHjfbBBDNZZ1jJN-rFgv4-eriQBNzPWgAlXMDROl_Nq_EScwlW9PQoYL2lVYy5aSA1DxGUIe0qKGi53ahwlhHXo6GKAxUqxRwR0eUA1VNES4BuJtDacqqJJhMfqLIAGMN1Ma3o0r1PQuzYpjYWCaa9pF8sZEwy1sXuquHak8zZuSR-PL8IrQ0sePT_8MVPpnxCkgeYHVV_3DnHDVw4tmGjaJqJc_ClVcvWcbsfC3JuUtuB5ADONUc6Wg7xHuLiOe_LnisJsf1LIswYySGZyIGakQzZB-sW5zR2wCbyV0AKzEkA3lz9shSNF5UfHd3iiRVs1snGS_nOn-T0rtWCd-Gf2z8uXR2ACu3hOJPUBRIrIsv6hY2muMPy2o_QF/w670-h430-p-k-no-nu/4.webp"
                          /></a>
                          <div class="post-info-wrap">
                            <div class="post-info">
                              <span class="post-tag">Fashion</span>
                              <h2 class="post-title">
                                <a
                                  href="https://flatblog-templatesyard.blogspot.com/2016/03/12-classic-pilates-moves.html"
                                  >12 Classic Pilates Moves</a
                                >
                              </h2>
                              <div class="post-meta">
                                <span class="post-date">March 17, 2016</span>
                              </div>
                              <p class="post-snippet">
                                Lorem Ipsum is simply dummy text of the printing
                                and typesetting industry. Lorem Ipsu…
                              </p>
                            </div>
                          </div>
                        </div>
                      </li>
                    </div>
                    <div
                      class="owl-item"
                      style="width: 670px; margin-right: 0px"
                    >
                      <li class="slider-item item-2">
                        <div class="slider-item-inner">
                          <a
                            class="post-image-link"
                            href="https://flatblog-templatesyard.blogspot.com/2016/03/8-steps-to-eat-better.html"
                            ><img
                              class="post-thumb lazy-yard"
                              alt=""
                              src="https://1.bp.blogspot.com/-rSeijZGf60I/XojY8Z7o42I/AAAAAAAAIHs/rj8e6Jk9Io4_CHyMDpMiCtdtP-OJKqqpACEwYBhgLKs4DAMBZVoB-xYI26ZrsfRPjsTGFaDlNIsr5bZSrMdRpticIpD1ZV2rFAYkSPMWh79jhiAdY4VHAFHdqafkccn8i8RNRQYrNajMEzujAz2GvCUmH1FVOsAO4pkkwOj0BFsF5p5UVhaSSWfBNOI1M9LOQWxx1jEFEkx6ael7T_v40_UQetZgrZmqaeC7PZdfhcl0pMzOfC7yzWj7CyMI9LA55WzrkP439oL41UV_sToe4i1y-s7NgwsZC_SFZQa3F8UI6zi3PAS9jnED-vN3CHKjYkNP4bLEWDdIJ0Eb38wdlrbDamF4rIcKP2a5TUPlfYjHr_RFecD44qNkIt7APwOmk3qWbbtq9NhHPVFoNwBNtF3Xt-avnqRrNItIl6KhHg3p9u1CLmaFHjfi9GPZTSAfFGhTL6j1mTFdIFiaceiNXxR37edE0Ta2I046sJHH8fDl1DLIEhfdrblWMUW09U6ia7lhMrZIDqv4-gsh3IziOM5y7DAwnkdptbq1qSII0dGni7nlvFav3cPgCEw1dYvAsQ_AkD5Geijz-z6Ed78QyW69ljNcFdDWxG7nlN2lVeNA7NUFVJ5DacHZWqWIdOLKbGtVPX1yF1cBfu5FNixCFMJK3o_QF/w670-h430-p-k-no-nu/5.webp"
                          /></a>
                          <div class="post-info-wrap">
                            <div class="post-info">
                              <span class="post-tag">Featured</span>
                              <h2 class="post-title">
                                <a
                                  href="https://flatblog-templatesyard.blogspot.com/2016/03/8-steps-to-eat-better.html"
                                  >8 Steps to Eat Better</a
                                >
                              </h2>
                              <div class="post-meta">
                                <span class="post-date">March 17, 2016</span>
                              </div>
                              <p class="post-snippet">
                                Lorem Ipsum is simply dummy text of the printing
                                and typesetting industry. Lorem Ipsu…
                              </p>
                            </div>
                          </div>
                        </div>
                      </li>
                    </div>
                    <div
                      class="owl-item"
                      style="width: 670px; margin-right: 0px"
                    >
                      <li class="slider-item item-3">
                        <div class="slider-item-inner">
                          <a
                            class="post-image-link"
                            href="https://flatblog-templatesyard.blogspot.com/2016/03/working-out-with-your-baby.html"
                            ><img
                              class="post-thumb lazy-yard"
                              alt=""
                              src="https://1.bp.blogspot.com/-DjCo_-Ir_bk/XojY88pYe-I/AAAAAAAAIHw/Nm42hHoPccQ2BWKuWQ8IwdNgq_TijrPowCEwYBhgLKs4DAMBZVoDQ1-roSHhb9mH5RKj1xyXs5ZIk-KPdD1RWA3M22H1OukmNntMymkKRPoGCUuC03dfs8ivWNzpYxiQuBH7vEd4tJxjM5DBm4xEKIQKAhK1XeXC__BNY18nSu8tXj1ov3cFeaEls4oz_hAcR-I1RJm_fOQvnNpnm0hH0SVSyl_pTjP2eQFMrXCVTllL83C8L-06pNe8LY_xAMjXC-lOXQYsJTv9aRiP5-wyAOkYLQBoZ8h4p7flnrKe_lBEg_sK55nN4eBfUX0eEkCogsmYQmo50Nj7BQ77pQb_dLIrmXpKnbg2h3Y3O4wTcp5oh63hgB3n-2b0pCD65dpzv4wRX4QJpP0SZIFScUNyMKHwO1Qfqj2Ph9o3jEJi7ID5qx0uULZRmevJMUb2447VDVCx8EBbOHAcv2ESB4qj8_IGkPNdlsJW10YrWZ0dY-0JHjDhbU0dHjnlBqDe0shFX7bmZ5kln69Xr-TnkCzsZMcWHCciEu-sZvIeo_ogV3Rpyb1f4Y4n_oY86-7R-l8S-dtbQy1gEVkmyJQux0yM937UepsOl8tAEQm2vi9GUwvlX6djpb4O7iFI69FgumWXAtjbdr8sU_l0zQIu3fsnsMKO3o_QF/w670-h430-p-k-no-nu/6.webp"
                          /></a>
                          <div class="post-info-wrap">
                            <div class="post-info">
                              <span class="post-tag">Fashion</span>
                              <h2 class="post-title">
                                <a
                                  href="https://flatblog-templatesyard.blogspot.com/2016/03/working-out-with-your-baby.html"
                                  >Working Out with Your Baby</a
                                >
                              </h2>
                              <div class="post-meta">
                                <span class="post-date">March 17, 2016</span>
                              </div>
                              <p class="post-snippet">
                                Lorem Ipsum is simply dummy text of the printing
                                and typesetting industry. Lorem Ipsu…
                              </p>
                            </div>
                          </div>
                        </div>
                      </li>
                    </div>
                    <div
                      class="owl-item"
                      style="width: 670px; margin-right: 0px"
                    >
                      <li class="slider-item item-4">
                        <div class="slider-item-inner">
                          <a
                            class="post-image-link"
                            href="https://flatblog-templatesyard.blogspot.com/2016/03/girl-play-with-fireworks-in-nature.html"
                            ><img
                              class="post-thumb lazy-yard"
                              alt=""
                              src="https://1.bp.blogspot.com/-nMvyQ2AGqTI/XojY7HsARKI/AAAAAAAAIHU/3QFZiF8bKZMHSAQtxx_wllA2xZp9v1V6ACEwYBhgLKs4DAMBZVoAPfCy1WneXAglA4IpZTLm_RyMGhDts_pC7dXql-cp56NgJyLGbSvlqPYZMO218AFRMQ0UQMba5R3pud6zZVpC-4O4_zmLlRcmQ-UqGN1r6d8IgfYjbu4zSc9VBsNHx7iWHSevBSE66ZT5QDafikoeblIWnrQtSIXSoxihxkwWi4xX5IX1qeU5utjyM4YSx7CvkP4IVVGDweUt7s_ZQZNyhV2ZY02qkLMNyP2WXKyP1B-FtT549R9ysbaFeo9C1lzhCwNubt98s5tdmPX4foefOzHQVIDyEEz5Guk1XpDk28N4ac6Gjq5gDXdICBqTx67ZtocnZ8ooxfxhMprHpmFyoSBzcd8KbfvacK5ftl5HvZ4MmRkkb8KaW8_PDvzn8cRS69FO-da4oPu3GVNtnb-bQ3F3HFOeTsj7KGRX-E7Xg_ILgxfN18SGLh2ans3uRlXbtAKCV7sUoDu_L93UlWD1utRRon1HJUd72u3uF9wpPuzFZXcy0YXzViwpvly1GUN0HYrjhTCQDmo-N_ySam-KlfOKjuRAMtLzTmRKfd99mD1Itq-icgSy8erzSq5jp7ZnJflIuJMNqWiIKq5FE0Rr2RwuSQxIripy2MOy2o_QF/w670-h430-p-k-no-nu/3.webp"
                          /></a>
                          <div class="post-info-wrap">
                            <div class="post-info">
                              <span class="post-tag">Fashion</span>
                              <h2 class="post-title">
                                <a
                                  href="https://flatblog-templatesyard.blogspot.com/2016/03/girl-play-with-fireworks-in-nature.html"
                                  >Girl play with fireworks in nature</a
                                >
                              </h2>
                              <div class="post-meta">
                                <span class="post-date">March 17, 2016</span>
                              </div>
                              <p class="post-snippet">
                                Lorem Ipsum is simply dummy text of the printing
                                and typesetting industry. Lorem Ipsu…
                              </p>
                            </div>
                          </div>
                        </div>
                      </li>
                    </div>
                    <div
                      class="owl-item active"
                      style="width: 670px; margin-right: 0px"
                    >
                      <li class="slider-item item-5">
                        <div class="slider-item-inner">
                          <a
                            class="post-image-link"
                            href="https://flatblog-templatesyard.blogspot.com/2016/03/cool-vintage-photograph.html"
                            ><img
                              class="post-thumb lazy-yard"
                              alt=""
                              src="https://4.bp.blogspot.com/-GkUyTOGonKQ/Vupe8svLNsI/AAAAAAAADX0/tqWMHfiRudY_V82YeEE7yq86apVldYnZA/w670-h430-p-k-no-nu/photographer-1150052_960_720.jpg"
                          /></a>
                          <div class="post-info-wrap">
                            <div class="post-info">
                              <span class="post-tag">Fashion</span>
                              <h2 class="post-title">
                                <a
                                  href="https://flatblog-templatesyard.blogspot.com/2016/03/cool-vintage-photograph.html"
                                  >Cool vintage photograph</a
                                >
                              </h2>
                              <div class="post-meta">
                                <span class="post-date">March 17, 2016</span>
                              </div>
                              <p class="post-snippet">
                                Lorem Ipsum is simply dummy text of the printing
                                and typesetting industry. Lorem Ipsu…
                              </p>
                            </div>
                          </div>
                        </div>
                      </li>
                    </div>
                    <div
                      class="owl-item cloned"
                      style="width: 670px; margin-right: 0px"
                    >
                      <li class="slider-item item-1">
                        <div class="slider-item-inner">
                          <a
                            class="post-image-link"
                            href="https://flatblog-templatesyard.blogspot.com/2016/03/12-classic-pilates-moves.html"
                            ><img
                              class="post-thumb lazy-yard"
                              alt=""
                              src="https://1.bp.blogspot.com/-BiecoByKxMo/XojY7RHKltI/AAAAAAAAIHc/pqvhkHbv9kIiqTeAJ8tDwmmOn6WxeaUzQCEwYBhgLKs4DAMBZVoAd2u7cpU7GvRwnMRCHGkKokDCLna5kBqvhrewwdv3i1JHc4nXP-dsaHnrnGfYHwO5LQ2NSJoEtQFX-J63vHDy5novlrEKvqZNbncN_GDVLfgFZVFNWCKL3rdFNwySJHrdTLLtQGToLlzySpOpDKp6g4HakVYDeFFyTocmeaiv5QFz2qrcuWTq6cZcV6AA4iA7XksQJgiTIB0XzzOb2PS-lHj2_o8wWeqVZGAs60HGL9QWQNsHjfbBBDNZZ1jJN-rFgv4-eriQBNzPWgAlXMDROl_Nq_EScwlW9PQoYL2lVYy5aSA1DxGUIe0qKGi53ahwlhHXo6GKAxUqxRwR0eUA1VNES4BuJtDacqqJJhMfqLIAGMN1Ma3o0r1PQuzYpjYWCaa9pF8sZEwy1sXuquHak8zZuSR-PL8IrQ0sePT_8MVPpnxCkgeYHVV_3DnHDVw4tmGjaJqJc_ClVcvWcbsfC3JuUtuB5ADONUc6Wg7xHuLiOe_LnisJsf1LIswYySGZyIGakQzZB-sW5zR2wCbyV0AKzEkA3lz9shSNF5UfHd3iiRVs1snGS_nOn-T0rtWCd-Gf2z8uXR2ACu3hOJPUBRIrIsv6hY2muMPy2o_QF/w670-h430-p-k-no-nu/4.webp"
                          /></a>
                          <div class="post-info-wrap">
                            <div class="post-info">
                              <span class="post-tag">Fashion</span>
                              <h2 class="post-title">
                                <a
                                  href="https://flatblog-templatesyard.blogspot.com/2016/03/12-classic-pilates-moves.html"
                                  >12 Classic Pilates Moves</a
                                >
                              </h2>
                              <div class="post-meta">
                                <span class="post-date">March 17, 2016</span>
                              </div>
                              <p class="post-snippet">
                                Lorem Ipsum is simply dummy text of the printing
                                and typesetting industry. Lorem Ipsu…
                              </p>
                            </div>
                          </div>
                        </div>
                      </li>
                    </div>
                    <div
                      class="owl-item cloned"
                      style="width: 670px; margin-right: 0px"
                    >
                      <li class="slider-item item-2">
                        <div class="slider-item-inner">
                          <a
                            class="post-image-link"
                            href="https://flatblog-templatesyard.blogspot.com/2016/03/8-steps-to-eat-better.html"
                            ><img
                              class="post-thumb lazy-yard"
                              alt=""
                              src="https://1.bp.blogspot.com/-rSeijZGf60I/XojY8Z7o42I/AAAAAAAAIHs/rj8e6Jk9Io4_CHyMDpMiCtdtP-OJKqqpACEwYBhgLKs4DAMBZVoB-xYI26ZrsfRPjsTGFaDlNIsr5bZSrMdRpticIpD1ZV2rFAYkSPMWh79jhiAdY4VHAFHdqafkccn8i8RNRQYrNajMEzujAz2GvCUmH1FVOsAO4pkkwOj0BFsF5p5UVhaSSWfBNOI1M9LOQWxx1jEFEkx6ael7T_v40_UQetZgrZmqaeC7PZdfhcl0pMzOfC7yzWj7CyMI9LA55WzrkP439oL41UV_sToe4i1y-s7NgwsZC_SFZQa3F8UI6zi3PAS9jnED-vN3CHKjYkNP4bLEWDdIJ0Eb38wdlrbDamF4rIcKP2a5TUPlfYjHr_RFecD44qNkIt7APwOmk3qWbbtq9NhHPVFoNwBNtF3Xt-avnqRrNItIl6KhHg3p9u1CLmaFHjfi9GPZTSAfFGhTL6j1mTFdIFiaceiNXxR37edE0Ta2I046sJHH8fDl1DLIEhfdrblWMUW09U6ia7lhMrZIDqv4-gsh3IziOM5y7DAwnkdptbq1qSII0dGni7nlvFav3cPgCEw1dYvAsQ_AkD5Geijz-z6Ed78QyW69ljNcFdDWxG7nlN2lVeNA7NUFVJ5DacHZWqWIdOLKbGtVPX1yF1cBfu5FNixCFMJK3o_QF/w670-h430-p-k-no-nu/5.webp"
                          /></a>
                          <div class="post-info-wrap">
                            <div class="post-info">
                              <span class="post-tag">Featured</span>
                              <h2 class="post-title">
                                <a
                                  href="https://flatblog-templatesyard.blogspot.com/2016/03/8-steps-to-eat-better.html"
                                  >8 Steps to Eat Better</a
                                >
                              </h2>
                              <div class="post-meta">
                                <span class="post-date">March 17, 2016</span>
                              </div>
                              <p class="post-snippet">
                                Lorem Ipsum is simply dummy text of the printing
                                and typesetting industry. Lorem Ipsu…
                              </p>
                            </div>
                          </div>
                        </div>
                      </li>
                    </div>
                  </div>
                </div>
                <div class="owl-controls">
                  <div class="owl-nav">
                    <div class="owl-prev" style=""></div>
                    <div class="owl-next" style=""></div>
                  </div>
                  <div class="owl-dots" style="display: none"></div>
                </div>
              </ul>
            </div>
          </div> -->
          <!-- <div class="widget HTML show-widget" data-version="2" id="HTML13">
            <div class="widget-title">
              <h3 class="title">Fashion</h3>
              <a
                class="view-all"
                href="/search/label/Fashion?&amp;max-results=5"
                >View all</a
              >
            </div>
            <div class="widget-content">
              <ul class="grid-small">
                <li class="feat-item item-small item-0">
                  <div class="post-image-wrap">
                    <a
                      class="post-image-link"
                      href="https://flatblog-templatesyard.blogspot.com/2016/03/10-foods-that-promote-weight-loss.html"
                      ><img
                        class="post-thumb lazy-yard"
                        alt=""
                        src="https://1.bp.blogspot.com/-6J0TUQwFrws/XojY8yRfDpI/AAAAAAAAIHo/Ukqmmh6liYUb6E6uirIrDmrymJhRk1K7gCNcBGAsYHQ/w210-h140-p-k-no-nu/7.webp" /></a
                    ><span class="post-tag">Fashion</span>
                  </div>
                  <div class="post-info">
                    <h2 class="post-title">
                      <a
                        href="https://flatblog-templatesyard.blogspot.com/2016/03/10-foods-that-promote-weight-loss.html"
                        >10 Foods That Promote Weight Loss</a
                      >
                    </h2>
                    <div class="post-meta">
                      <span class="post-date">March 17, 2016</span>
                    </div>
                  </div>
                </li>
                <li class="feat-item item-small item-1">
                  <div class="post-image-wrap">
                    <a
                      class="post-image-link"
                      href="https://flatblog-templatesyard.blogspot.com/2016/03/7-foods-for-healthy-hair.html"
                      ><img
                        class="post-thumb lazy-yard"
                        alt=""
                        src="https://1.bp.blogspot.com/-tE181d_K7gs/Vupfu_6tHnI/AAAAAAAADYE/OXF5cqzoXao890DJVCBdSeEMyCtdcKIjA/w210-h140-p-k-no-nu/girl-984155_960_720.jpg" /></a
                    ><span class="post-tag">Business</span>
                  </div>
                  <div class="post-info">
                    <h2 class="post-title">
                      <a
                        href="https://flatblog-templatesyard.blogspot.com/2016/03/7-foods-for-healthy-hair.html"
                        >7 Foods for Healthy Hair</a
                      >
                    </h2>
                    <div class="post-meta">
                      <span class="post-date">March 17, 2016</span>
                    </div>
                  </div>
                </li>
                <li class="feat-item item-small item-2">
                  <div class="post-image-wrap">
                    <a
                      class="post-image-link"
                      href="https://flatblog-templatesyard.blogspot.com/2016/03/12-classic-pilates-moves.html"
                      ><img
                        class="post-thumb lazy-yard"
                        alt=""
                        src="https://1.bp.blogspot.com/-BiecoByKxMo/XojY7RHKltI/AAAAAAAAIHc/pqvhkHbv9kIiqTeAJ8tDwmmOn6WxeaUzQCEwYBhgLKs4DAMBZVoAd2u7cpU7GvRwnMRCHGkKokDCLna5kBqvhrewwdv3i1JHc4nXP-dsaHnrnGfYHwO5LQ2NSJoEtQFX-J63vHDy5novlrEKvqZNbncN_GDVLfgFZVFNWCKL3rdFNwySJHrdTLLtQGToLlzySpOpDKp6g4HakVYDeFFyTocmeaiv5QFz2qrcuWTq6cZcV6AA4iA7XksQJgiTIB0XzzOb2PS-lHj2_o8wWeqVZGAs60HGL9QWQNsHjfbBBDNZZ1jJN-rFgv4-eriQBNzPWgAlXMDROl_Nq_EScwlW9PQoYL2lVYy5aSA1DxGUIe0qKGi53ahwlhHXo6GKAxUqxRwR0eUA1VNES4BuJtDacqqJJhMfqLIAGMN1Ma3o0r1PQuzYpjYWCaa9pF8sZEwy1sXuquHak8zZuSR-PL8IrQ0sePT_8MVPpnxCkgeYHVV_3DnHDVw4tmGjaJqJc_ClVcvWcbsfC3JuUtuB5ADONUc6Wg7xHuLiOe_LnisJsf1LIswYySGZyIGakQzZB-sW5zR2wCbyV0AKzEkA3lz9shSNF5UfHd3iiRVs1snGS_nOn-T0rtWCd-Gf2z8uXR2ACu3hOJPUBRIrIsv6hY2muMPy2o_QF/w210-h140-p-k-no-nu/4.webp" /></a
                    ><span class="post-tag">Fashion</span>
                  </div>
                  <div class="post-info">
                    <h2 class="post-title">
                      <a
                        href="https://flatblog-templatesyard.blogspot.com/2016/03/12-classic-pilates-moves.html"
                        >12 Classic Pilates Moves</a
                      >
                    </h2>
                    <div class="post-meta">
                      <span class="post-date">March 17, 2016</span>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div> -->
          <div
            class="widget HTML col-width show-widget"
            data-version="2"
            id="HTML8"
          >
            <div class="widget-title">
              <h3 class="title">Sports</h3>
              <a class="view-all" href="/search/label/Sports?&amp;max-results=5"
                >View all</a
              >
            </div>
            <div class="widget-content">
              <ul class="feat-col">
                <li class="feat-item item-big item-0">
                  <div class="feat-inner">
                    <a
                      class="post-image-link"
                      [href]="sportsCard[0].url"
                      ><img
                        class="post-thumb lazy-yard"
                        alt=""
                        [src]="sportsCard[0].imageUrl" /></a
                    ><span class="post-tag">Nature</span>
                    <div class="post-info">
                      <h2 class="post-title">
                        <a
                          [href]="sportsCard[0].url"
                          >{{sportsCard[0].title}}</a
                        >
                      </h2>
                      <div class="post-meta">
                        <span class="post-author">{{sportsCard[0].author}} </span
                        ><span class="post-date">{{sportsCard[0].publishedAt}}</span>
                      </div>
                    </div>
                  </div>
                </li>
                <li *ngFor="let item of sportsCard | slice:1; let i=index" [class]="'feat-item item-small item-'+(i + 1)">
                  <a
                    class="post-image-link"
                    [href]="item.url"
                    ><img
                      class="post-thumb lazy-yard"
                      alt=""
                      [src]="item.imageUrl"
                  /></a>
                  <div class="post-info">
                    <h2 class="post-title">
                      <a
                        [href]="item.url"
                        >{{item.title}}</a
                      >
                    </h2>
                    <div class="post-meta">
                      <span class="post-date">{{item.publishedAt}}</span>
                    </div>
                  </div>
                </li>
                <!-- <li class="feat-item item-small item-2">
                  <a
                    class="post-image-link"
                    href="https://flatblog-templatesyard.blogspot.com/2016/03/baseball-player-running-game-field.html"
                    ><img
                      class="post-thumb lazy-yard"
                      alt=""
                      src="https://1.bp.blogspot.com/-O35ksn594-g/VupVD9H1jvI/AAAAAAAADWE/9OrQ_aiJ3EUp3bWfpbiSHgomAEnWyeRdA/w80-h65-p-k-no-nu/baseball-1149955_960_720.jpg"
                  /></a>
                  <div class="post-info">
                    <h2 class="post-title">
                      <a
                        href="https://flatblog-templatesyard.blogspot.com/2016/03/baseball-player-running-game-field.html"
                        >Baseball player running the game field</a
                      >
                    </h2>
                    <div class="post-meta">
                      <span class="post-date">March 17, 2016</span>
                    </div>
                  </div>
                </li> -->
              </ul>
            </div>
          </div>
          <div
            class="widget HTML col-right col-width show-widget"
            data-version="2"
            id="HTML9"
          >
            <div class="widget-title">
              <h3 class="title">Technology</h3>
              <a
                class="view-all"
                href="/search/label/Technology?&amp;max-results=5"
                >View all</a
              >
            </div>
            <div class="widget-content">
              <ul class="feat-col">
                <li class="feat-item item-big item-0">
                  <div class="feat-inner">
                    <a
                      class="post-image-link"
                      [href]="technologyCard[0].url"
                      ><img
                        class="post-thumb lazy-yard"
                        alt=""
                        [src]="technologyCard[0].imageUrl"
                        /></a
                    ><span class="post-tag">Business</span>
                    <div class="post-info">
                      <h2 class="post-title">
                        <a
                        [href]="technologyCard[0].url"
                          >{{technologyCard[0].title}}</a
                        >
                      </h2>
                      <div class="post-meta">
                        <span class="post-author">{{technologyCard[0].author}} </span
                        ><span class="post-date">{{technologyCard[0].publishedAt}}</span>
                      </div>
                    </div>
                  </div>
                </li>
                <li *ngFor="let item of technologyCard | slice:1; let i=index" [class]="'feat-item item-small item-'+(i + 1)">
                  <a
                    class="post-image-link"
                    [href]="item.url"
                    ><img
                      class="post-thumb lazy-yard"
                      alt=""
                      [src]="item.imageUrl"
                  /></a>
                  <div class="post-info">
                    <h2 class="post-title">
                      <a
                        [href]="item.url"
                        >{{item.title}}</a
                      >
                    </h2>
                    <div class="post-meta">
                      <span class="post-date">{{item.publishedAt}}</span>
                    </div>
                  </div>
                </li>
                <!-- <li class="feat-item item-small item-2">
                  <a
                    class="post-image-link"
                    href="https://flatblog-templatesyard.blogspot.com/2016/03/tablet-on-table-showing-calendar.html"
                    ><img
                      class="post-thumb lazy-yard"
                      alt=""
                      src="https://1.bp.blogspot.com/-keqVlJeDxRA/Vupbj8ebLMI/AAAAAAAADXg/jEq7fAGhLyEO13ayr69hPg_c-m5yK1-Mw/w80-h65-p-k-no-nu/imac-605421_960_720.jpg"
                  /></a>
                  <div class="post-info">
                    <h2 class="post-title">
                      <a
                        href="https://flatblog-templatesyard.blogspot.com/2016/03/tablet-on-table-showing-calendar.html"
                        >Tablet on a table showing calendar</a
                      >
                    </h2>
                    <div class="post-meta">
                      <span class="post-date">March 17, 2016</span>
                    </div>
                  </div>
                </li> -->
              </ul>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <!-- Sidebar Wrapper -->
    <div
      id="sidebar-wrapper"
      style="
        position: relative;
        overflow: visible;
        box-sizing: border-box;
        min-height: 1px;
      "
    >
      <div
        class="theiaStickySidebar"
        style="
          padding-top: 0px;
          padding-bottom: 1px;
          position: static;
          transform: none;
          top: 0px;
          left: 949.6px;
        "
        #stickyMenu
        [class.sticky]="sticky"
      >
        <app-labels></app-labels>
        <app-social-plugins></app-social-plugins>
        <div
          class="sidebar common-widget section"
          id="sidebar2"
          name="Sidebar Right (B)"
        >
          <app-popular-posts></app-popular-posts>
          <!-- <app-subscribe-us></app-subscribe-us> -->
          <!-- <app-technology-posts></app-technology-posts> -->
        </div>
      </div>
    </div>
  </div>
</div>
