<head>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8432158318839569"
     crossorigin="anonymous"></script>
</head>
<div class="row" id="content-wrapper" style="transform: none">
  <div class="container" style="transform: none">
    <!-- Main Wrapper -->
    <div
      id="main-wrapper"
      style="
        position: relative;
        overflow: visible;
        box-sizing: border-box;
        min-height: 1px;
      "
    >
      <div
        class="theiaStickySidebar"
        style="
          padding-top: 0px;
          padding-bottom: 1px;
          position: static;
          transform: none;
        "
      >
        <div
          class="featured-posts section"
          id="featured-posts-2"
          name="Featured Posts 01"
        >
          <div class="widget HTML show-widget" data-version="2" id="HTML5">
            <div class="widget-title">
              <h3 class="title">Business</h3>
              <a
                class="view-all"
                href="/search/label/Business?&amp;max-results=5"
                >View all</a
              >
            </div>
            <div class="widget-content">
              <ul class="feat-big">
                <li class="feat-item item-big item-0">
                  <div class="feat-inner">
                    <a
                      class="post-image-link"
                      [href]='businessCard[0].url'
                      ><img
                        class="post-thumb lazy-yard"
                        alt=""
                        [src]='businessCard[0].imageUrl' /></a
                    ><span class="post-tag">Business</span>
                    <div class="post-info">
                      <h2 class="post-title">
                        <a
                        [href]='businessCard[0].url'
                          >{{businessCard[0].title}}</a
                        >
                      </h2>
                      <div class="post-meta">
                        <span class="post-author">{{businessCard[0].author}} </span
                        ><span class="post-date">{{businessCard[0].publishedAt}}</span>
                      </div>
                    </div>
                  </div>
                </li>
                <li *ngFor="let item of businessCard | slice:1; let i=index" [class]="'feat-item item-small item-'+(i + 1)">
                  <a
                    class="post-image-link"
                    [href]="item.url"
                    ><img
                      class="post-thumb lazy-yard"
                      alt=""
                      [src]="item.imageUrl"
                  /></a>
                  <div class="post-info">
                    <h2 class="post-title">
                      <a
                        [href]="item.url"
                        >{{item.title}}</a
                      >
                    </h2>
                    <div class="post-meta">
                      <span class="post-date">{{item.publishedAt}}</span>
                    </div>
                  </div>
                </li>
               </ul>
            </div>
          </div>
         //slider
          <div
            class="widget HTML col-width show-widget"
            data-version="2"
            id="HTML8"
          >
            <div class="widget-title">
              <h3 class="title">Sports</h3>
              <a class="view-all" href="/search/label/Sports?&amp;max-results=5"
                >View all</a
              >
            </div>
            <div class="widget-content">
              <ul class="feat-col">
                <li class="feat-item item-big item-0">
                  <div class="feat-inner">
                    <a
                      class="post-image-link"
                      [href]="sportsCard[0].url"
                      ><img
                        class="post-thumb lazy-yard"
                        alt=""
                        [src]="sportsCard[0].imageUrl" /></a
                    ><span class="post-tag">Nature</span>
                    <div class="post-info">
                      <h2 class="post-title">
                        <a
                          [href]="sportsCard[0].url"
                          >{{sportsCard[0].title}}</a
                        >
                      </h2>
                      <div class="post-meta">
                        <span class="post-author">{{sportsCard[0].author}} </span
                        ><span class="post-date">{{sportsCard[0].publishedAt}}</span>
                      </div>
                    </div>
                  </div>
                </li>
                <li *ngFor="let item of sportsCard | slice:1; let i=index" [class]="'feat-item item-small item-'+(i + 1)">
                  <a
                    class="post-image-link"
                    [href]="item.url"
                    ><img
                      class="post-thumb lazy-yard"
                      alt=""
                      [src]="item.imageUrl"
                  /></a>
                  <div class="post-info">
                    <h2 class="post-title">
                      <a
                        [href]="item.url"
                        >{{item.title}}</a
                      >
                    </h2>
                    <div class="post-meta">
                      <span class="post-date">{{item.publishedAt}}</span>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div
            class="widget HTML col-right col-width show-widget"
            data-version="2"
            id="HTML9"
          >
            <div class="widget-title">
              <h3 class="title">Technology</h3>
              <a
                class="view-all"
                href="/search/label/Technology?&amp;max-results=5"
                >View all</a
              >
            </div>
            <div class="widget-content">
              <ul class="feat-col">
                <li class="feat-item item-big item-0">
                  <div class="feat-inner">
                    <a
                      class="post-image-link"
                      [href]="technologyCard[0].url"
                      ><img
                        class="post-thumb lazy-yard"
                        alt=""
                        [src]="technologyCard[0].imageUrl"
                        /></a
                    ><span class="post-tag">Business</span>
                    <div class="post-info">
                      <h2 class="post-title">
                        <a
                        [href]="technologyCard[0].url"
                          >{{technologyCard[0].title}}</a
                        >
                      </h2>
                      <div class="post-meta">
                        <span class="post-author">{{technologyCard[0].author}} </span
                        ><span class="post-date">{{technologyCard[0].publishedAt}}</span>
                      </div>
                    </div>
                  </div>
                </li>
                <li *ngFor="let item of technologyCard | slice:1; let i=index" [class]="'feat-item item-small item-'+(i + 1)">
                  <a
                    class="post-image-link"
                    [href]="item.url"
                    ><img
                      class="post-thumb lazy-yard"
                      alt=""
                      [src]="item.imageUrl"
                  /></a>
                  <div class="post-info">
                    <h2 class="post-title">
                      <a
                        [href]="item.url"
                        >{{item.title}}</a
                      >
                    </h2>
                    <div class="post-meta">
                      <span class="post-date">{{item.publishedAt}}</span>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <!-- Sidebar Wrapper -->
    <div
      id="sidebar-wrapper"
      style="
        position: relative;
        overflow: visible;
        box-sizing: border-box;
        min-height: 1px;
      "
    >
      <div
        class="theiaStickySidebar"
        style="
          padding-top: 0px;
          padding-bottom: 1px;
          position: static;
          transform: none;
          top: 0px;
          left: 949.6px;
        "
        #stickyMenu
        [class.sticky]="sticky"
      >
        <app-labels></app-labels>
        <app-social-plugins></app-social-plugins>
        <div
          class="sidebar common-widget section"
          id="sidebar2"
          name="Sidebar Right (B)"
        >
          <app-popular-posts></app-popular-posts>
          <!-- <app-subscribe-us></app-subscribe-us> -->
          <!-- <app-technology-posts></app-technology-posts> -->
        </div>
      </div>
    </div>
  </div>
</div>
