<head>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8432158318839569"
     crossorigin="anonymous"></script>
</head>
<div class="widget PopularPosts" data-version="2" id="PopularPosts2">
  <div class="widget-title">
    <h3 class="title">Popular Posts</h3>
  </div>
  <div class="widget-content">
    <div class="post" *ngFor="let item of popularPosts; let i=index">
      <div class="post-content">
        <a
          class="post-image-link"
          [href]="item.url"
        >
          <img
            alt="7 Foods for Healthy Hair"
            class="post-thumb lazy-yard"
            [src]="item.imageUrl"
          />
        </a>
        <div class="post-info">
          <h2 class="post-title">
            <a
            [href]="item.url"
            >{{item.title}}</a
            >
          </h2>
          <div class="post-meta">
            <span
              class="post-date published"
              datetime="2016-03-17T00:53:00-07:00"
              >{{item.publishedAt}}</span
            >
          </div>
        </div>
      </div>
    </div>
   </div>
</div>