<div class="widget HTML show-widget" data-version="2" id="HTML10">
  <div class="widget-title">
    <h3 class="title">Food</h3>
    <a class="view-all" href="/search/label/Food?&amp;max-results=5"
      >View all</a
    >
  </div>
  <div class="widget-content">
    <ul class="feat-list">
      <li class="feat-item item-0">
        <div class="feat-inner">
          <a
            class="post-image-link"
            href="https://flatblog-templatesyard.blogspot.com/2016/03/top-5-snacks-to-fuel-your-workout.html"
            ><img
              class="post-thumb"
              alt=""
              src="https://1.bp.blogspot.com/-h8hOPokdFsA/XD-rtTsidQI/AAAAAAAADyw/s7G_QOIV33cF3hHn776gg1B2AcxXa5g9gCK4BGAYYCw/w72-h72-p-k-no-nu/9.jpg" /></a
          ><span class="post-tag">Food</span>
          <div class="post-info">
            <h2 class="post-title">
              <a
                href="https://flatblog-templatesyard.blogspot.com/2016/03/top-5-snacks-to-fuel-your-workout.html"
                >Top 5 Snacks to Fuel Your Workout</a
              >
            </h2>
            <div class="post-meta">
              <span class="post-author">Sora Blogging Tips </span
              ><span class="post-date">March 17, 2016</span>
            </div>
            <p class="post-snippet">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 15…
            </p>
          </div>
        </div>
      </li>
      <li class="feat-item item-1">
        <div class="feat-inner">
          <a
            class="post-image-link"
            href="https://flatblog-templatesyard.blogspot.com/2016/03/10-ways-to-get-more-fruits-and-veggies.html"
            ><img
              class="post-thumb"
              alt=""
              src="https://2.bp.blogspot.com/-CsNp5GX0T_s/XD-rhl9KAHI/AAAAAAAADyo/mmPQJ44ufwEHMLrhsL7X_W7tr3Y9Qp29wCK4BGAYYCw/w72-h72-p-k-no-nu/8.jpg" /></a
          ><span class="post-tag">Food</span>
          <div class="post-info">
            <h2 class="post-title">
              <a
                href="https://flatblog-templatesyard.blogspot.com/2016/03/10-ways-to-get-more-fruits-and-veggies.html"
                >10 Ways to Get More Fruits and Veggies in Your Diet</a
              >
            </h2>
            <div class="post-meta">
              <span class="post-author">Sora Blogging Tips </span
              ><span class="post-date">March 17, 2016</span>
            </div>
            <p class="post-snippet">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 15…
            </p>
          </div>
        </div>
      </li>
      <li class="feat-item item-2">
        <div class="feat-inner">
          <a
            class="post-image-link"
            href="https://flatblog-templatesyard.blogspot.com/2016/03/your-weight-loss-journey-starts-with.html"
            ><img
              class="post-thumb"
              alt=""
              src="https://1.bp.blogspot.com/-QhUyuhAu_fw/XD-rTzCY2cI/AAAAAAAADyg/hYn6QDXuxugiPGBgicxHs9-U9ak-g5oWgCK4BGAYYCw/w72-h72-p-k-no-nu/8.jpg" /></a
          ><span class="post-tag">Food</span>
          <div class="post-info">
            <h2 class="post-title">
              <a
                href="https://flatblog-templatesyard.blogspot.com/2016/03/your-weight-loss-journey-starts-with.html"
                >Your Weight-Loss Journey Starts With These Foods</a
              >
            </h2>
            <div class="post-meta">
              <span class="post-author">Sora Blogging Tips </span
              ><span class="post-date">March 17, 2016</span>
            </div>
            <p class="post-snippet">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 15…
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
