<div class="row" id="featured-wrapper" style="transform: none">
    <div
      class="featured-posts section"
      id="featured-posts-3"
      name="Featured Posts 02"
    >
    <div class="widget HTML show-widget" data-version="2" id="HTML12">
  <div class="widget-title">
    <h3 class="title">Nature</h3>
    <a class="view-all" href="/search/label/Nature?&amp;max-results=5"
      >View all</a
    >
  </div>
  <div class="widget-content">
    <ul class="grid-small">
      <li class="feat-item item-small item-0">
        <div class="post-image-wrap">
          <a
            class="post-image-link"
            href="https://flatblog-templatesyard.blogspot.com/2016/03/7-foods-for-healthy-hair.html"
            ><img
              class="post-thumb"
              alt=""
              src="https://1.bp.blogspot.com/-tE181d_K7gs/Vupfu_6tHnI/AAAAAAAADYE/OXF5cqzoXao890DJVCBdSeEMyCtdcKIjA/w72-h72-p-k-no-nu/girl-984155_960_720.jpg" /></a
          ><span class="post-tag">Business</span>
        </div>
        <div class="post-info">
          <h2 class="post-title">
            <a
              href="https://flatblog-templatesyard.blogspot.com/2016/03/7-foods-for-healthy-hair.html"
              >7 Foods for Healthy Hair</a
            >
          </h2>
          <div class="post-meta">
            <span class="post-date">March 17, 2016</span>
          </div>
        </div>
      </li>
      <li class="feat-item item-small item-1">
        <div class="post-image-wrap">
          <a
            class="post-image-link"
            href="https://flatblog-templatesyard.blogspot.com/2016/03/girl-play-with-fireworks-in-nature.html"
            ><img
              class="post-thumb"
              alt=""
              src="https://1.bp.blogspot.com/-nMvyQ2AGqTI/XojY7HsARKI/AAAAAAAAIHU/3QFZiF8bKZMHSAQtxx_wllA2xZp9v1V6ACEwYBhgLKs4DAMBZVoAPfCy1WneXAglA4IpZTLm_RyMGhDts_pC7dXql-cp56NgJyLGbSvlqPYZMO218AFRMQ0UQMba5R3pud6zZVpC-4O4_zmLlRcmQ-UqGN1r6d8IgfYjbu4zSc9VBsNHx7iWHSevBSE66ZT5QDafikoeblIWnrQtSIXSoxihxkwWi4xX5IX1qeU5utjyM4YSx7CvkP4IVVGDweUt7s_ZQZNyhV2ZY02qkLMNyP2WXKyP1B-FtT549R9ysbaFeo9C1lzhCwNubt98s5tdmPX4foefOzHQVIDyEEz5Guk1XpDk28N4ac6Gjq5gDXdICBqTx67ZtocnZ8ooxfxhMprHpmFyoSBzcd8KbfvacK5ftl5HvZ4MmRkkb8KaW8_PDvzn8cRS69FO-da4oPu3GVNtnb-bQ3F3HFOeTsj7KGRX-E7Xg_ILgxfN18SGLh2ans3uRlXbtAKCV7sUoDu_L93UlWD1utRRon1HJUd72u3uF9wpPuzFZXcy0YXzViwpvly1GUN0HYrjhTCQDmo-N_ySam-KlfOKjuRAMtLzTmRKfd99mD1Itq-icgSy8erzSq5jp7ZnJflIuJMNqWiIKq5FE0Rr2RwuSQxIripy2MOy2o_QF/w72-h72-p-k-no-nu/3.webp" /></a
          ><span class="post-tag">Fashion</span>
        </div>
        <div class="post-info">
          <h2 class="post-title">
            <a
              href="https://flatblog-templatesyard.blogspot.com/2016/03/girl-play-with-fireworks-in-nature.html"
              >Girl play with fireworks in nature</a
            >
          </h2>
          <div class="post-meta">
            <span class="post-date">March 17, 2016</span>
          </div>
        </div>
      </li>
      <li class="feat-item item-small item-2">
        <div class="post-image-wrap">
          <a
            class="post-image-link"
            href="https://flatblog-templatesyard.blogspot.com/2016/03/cars-waiting-pedestrians-cross-street.html"
            ><img
              class="post-thumb"
              alt=""
              src="https://2.bp.blogspot.com/-C2ZNH3JwldA/Vupbf-HopaI/AAAAAAAADXU/xq1cJrP0LJMEylkyCr76kPNm-bxo0-7og/w72-h72-p-k-no-nu/city-1150026_960_720.jpg" /></a
          ><span class="post-tag">Business</span>
        </div>
        <div class="post-info">
          <h2 class="post-title">
            <a
              href="https://flatblog-templatesyard.blogspot.com/2016/03/cars-waiting-pedestrians-cross-street.html"
              >Cars waiting pedestrians cross the street</a
            >
          </h2>
          <div class="post-meta">
            <span class="post-date">March 17, 2016</span>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

</div>
</div>