<body class="index home" style="transform: none; margin-top: 0px">
  <app-navbar></app-navbar>
  <div class="clearfix"></div>
  <div id="outer-wrapper" style="transform: none">
    <app-hot-news></app-hot-news>
    <div class="clearfix"></div>
    <app-business-card></app-business-card>
    <div class="clearfix"></div>
    <app-music-posts></app-music-posts>
    <!-- <div class="clearfix"></div>
    <app-photograph-posts></app-photograph-posts> -->
    <div class="clearfix"></div>
    <app-footer></app-footer>
  </div>
</body>
