<div class="row" id="content-wrapper" style="transform: none">
  <div
    class="featured-posts section"
    id="featured-posts-3"
    name="Featured Posts 02"
  >
    <div class="widget HTML show-widget" data-version="2" id="HTML6">
      <div class="widget-title">
        <h3 class="title">Photography</h3>
        <a class="view-all" href="/search/label/Photography?&amp;max-results=5"
          >View all</a
        >
      </div>
      <div class="widget-content">
        <ul class="grid-big">
          <li class="feat-item item-big item-0">
            <div class="feat-inner">
              <a
                class="post-image-link"
                href="https://flatblog-templatesyard.blogspot.com/2016/03/working-out-with-your-baby.html"
                ><img
                  class="post-thumb"
                  alt=""
                  src="https://1.bp.blogspot.com/-DjCo_-Ir_bk/XojY88pYe-I/AAAAAAAAIHw/Nm42hHoPccQ2BWKuWQ8IwdNgq_TijrPowCEwYBhgLKs4DAMBZVoDQ1-roSHhb9mH5RKj1xyXs5ZIk-KPdD1RWA3M22H1OukmNntMymkKRPoGCUuC03dfs8ivWNzpYxiQuBH7vEd4tJxjM5DBm4xEKIQKAhK1XeXC__BNY18nSu8tXj1ov3cFeaEls4oz_hAcR-I1RJm_fOQvnNpnm0hH0SVSyl_pTjP2eQFMrXCVTllL83C8L-06pNe8LY_xAMjXC-lOXQYsJTv9aRiP5-wyAOkYLQBoZ8h4p7flnrKe_lBEg_sK55nN4eBfUX0eEkCogsmYQmo50Nj7BQ77pQb_dLIrmXpKnbg2h3Y3O4wTcp5oh63hgB3n-2b0pCD65dpzv4wRX4QJpP0SZIFScUNyMKHwO1Qfqj2Ph9o3jEJi7ID5qx0uULZRmevJMUb2447VDVCx8EBbOHAcv2ESB4qj8_IGkPNdlsJW10YrWZ0dY-0JHjDhbU0dHjnlBqDe0shFX7bmZ5kln69Xr-TnkCzsZMcWHCciEu-sZvIeo_ogV3Rpyb1f4Y4n_oY86-7R-l8S-dtbQy1gEVkmyJQux0yM937UepsOl8tAEQm2vi9GUwvlX6djpb4O7iFI69FgumWXAtjbdr8sU_l0zQIu3fsnsMKO3o_QF/w72-h72-p-k-no-nu/6.webp" /></a
              ><span class="post-tag">Fashion</span>
              <div class="post-info">
                <h2 class="post-title">
                  <a
                    href="https://flatblog-templatesyard.blogspot.com/2016/03/working-out-with-your-baby.html"
                    >Working Out with Your Baby</a
                  >
                </h2>
                <div class="post-meta">
                  <span class="post-author">Sora Blogging Tips </span
                  ><span class="post-date">March 17, 2016</span>
                </div>
                <p class="post-snippet">
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsu…
                </p>
              </div>
            </div>
          </li>
          <li class="feat-item item-big item-1">
            <div class="feat-inner">
              <a
                class="post-image-link"
                href="https://flatblog-templatesyard.blogspot.com/2016/03/cool-vintage-photograph.html"
                ><img
                  class="post-thumb"
                  alt=""
                  src="https://4.bp.blogspot.com/-GkUyTOGonKQ/Vupe8svLNsI/AAAAAAAADX0/tqWMHfiRudY_V82YeEE7yq86apVldYnZA/w72-h72-p-k-no-nu/photographer-1150052_960_720.jpg" /></a
              ><span class="post-tag">Fashion</span>
              <div class="post-info">
                <h2 class="post-title">
                  <a
                    href="https://flatblog-templatesyard.blogspot.com/2016/03/cool-vintage-photograph.html"
                    >Cool vintage photograph</a
                  >
                </h2>
                <div class="post-meta">
                  <span class="post-author">Sora Blogging Tips </span
                  ><span class="post-date">March 17, 2016</span>
                </div>
                <p class="post-snippet">
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsu…
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="clearfix"></div>
    <app-food-posts></app-food-posts>
    <div class="clearfix"></div>
    <app-nature-posts></app-nature-posts>
    <div class="clearfix"></div>
    <app-recents-posts></app-recents-posts>
    <div class="clearfix"></div>
  </div>
</div>
