<div
  class="sidebar common-widget section"
  id="sidebar1"
  name="Sidebar Right (A)"
>
  <div class="widget Label" data-version="2" id="Label1">
    <div class="widget-title">
      <h3 class="title">Labels</h3>
    </div>
    <div class="widget-content list-label">
      <ul>
        <li>
          <a
            class="label-name"
            href="/"
            style="background-color: rgb(233, 30, 99)"
          >
            Business
            <span class="label-count">5</span>
          </a>
        </li>
        <li>
          <a
            class="label-name"
            href="/"
            style="background-color: rgb(237, 126, 79)"
          >
            Fashion
            <span class="label-count">6</span>
          </a>
        </li>
        <li>
          <a
            class="label-name"
            href="/"
            style="background-color: rgb(0, 150, 136)"
          >
            Food
            <span class="label-count">3</span>
          </a>
        </li>
        <li>
          <a
            class="label-name"
            href="/"
            style="background-color: rgb(255, 193, 7)"
          >
            Music
            <span class="label-count">4</span>
          </a>
        </li>
        <li>
          <a
            class="label-name"
            href="/"
            style="background-color: rgb(233, 30, 99)"
          >
            Photography
            <span class="label-count">3</span>
          </a>
        </li>
        <li>
          <a
            class="label-name"
            href="/"
            style="background-color: rgb(233, 30, 99)"
          >
            Technology
            <span class="label-count">4</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
